* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(169, 201, 201, 0.356);
}

/* Scroll bar */

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px grey;
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #012442, #fd7019);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
